<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<contextName>SecopreServices</contextName>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%contextName %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
<!-- 	<logger name="org.springframework.web.context.ContextLoader" level="DEBUG" additivity="false"> -->
<!-- 	    <appender-ref ref="STDOUT" /> -->
<!-- 	</logger> -->

	<logger name="org.hibernate">
  		<level value="error"/> 
	</logger>	
	<logger name="org.hibernate.SQL" level="error" />
	
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>